.DS_Store
dataset/.DS_Store
dataset/abalonefed.pkl
dataset/balancescalefed.pkl
dataset/botfed.pkl
dataset/breastfed.pkl
dataset/celltypesfed.pkl
dataset/covtypefed.pkl
dataset/Fig3_performance_comparison.tiff
dataset/Gesturefed.pkl
dataset/heartfed.pkl
dataset/logic_reasoning_results_beautiful.png
dataset/logic_reasoning_results.png
dataset/mnist_processedfed.pkl
dataset/mnist1fed.pkl
dataset/mnist2dfed.pkl
dataset/mnist2fed.pkl
dataset/mnist3fed.pkl
dataset/mnistfed.pkl
dataset/posturesfed.pkl
dataset/seedsfed.pkl
dataset/test.ipynb
dataset/thyroidfed.pkl
dataset/waveformfed.pkl
dataset/zoofed.pkl
models/__pycache__/cfc_tree.cpython-312.pyc
models/__pycache__/CFC.cpython-312.pyc
models/__pycache__/cfc+.cpython-312.pyc
models/__pycache__/dc_kmeans.cpython-312.pyc
models/__pycache__/dc.cpython-312.pyc
models/__pycache__/dckmeans.cpython-312.pyc
models/__pycache__/kfed.cpython-312.pyc
models/__pycache__/kfed+.cpython-312.pyc
models/__pycache__/model.cpython-312.pyc
models/__pycache__/mufc.cpython-312.pyc
models/__pycache__/nnfc.cpython-312.pyc
models/__pycache__/utils.cpython-312.pyc
models/__pycache__/utils1.cpython-312.pyc
models/__pycache__/utils2.cpython-312.pyc
results/ablation_study_new2_k15.txt
results/ablation_study_new2_k110.txt
results/ablation_study_new2_k120.txt
results/ablation_study_new2_k210.txt
results/ablation_study_new2_k215.txt
results/ablation_study_new2_k220.txt
results/ablation_study_new2_k225.txt
results/ari_nmi_distribution.png
results/ari_nmi_vs_epochs.png
results/breast_metrics_distribution.png
results/cfc_epsilon_0.1.txt
results/cfc+_epsilon_0.1.txt
results/cfc+_epsilon_1000.txt
results/Energy_large.txt
results/kfed_epsilon_0.1.txt
results/kfed_epsilon_1000.txt
results/largedatset_energy_0.1.txt
results/largedatset_energy2_0.01.txt
results/largedatset_energy2_0.05.txt
results/largedatset_engergy2.txt
results/largedatset_kfed_0.01.txt
results/largedatset_kfed_0.1.txt
results/largedatset_kfed_0.05.txt
results/largedatset_mufc_0.01.txt
results/largedatset_mufc_0.1.txt
results/largedatset_mufc_0.05.txt
results/largedatset_NN_0.01.txt
results/largedatset_NN_0.1.txt
results/largedatset_NN_0.05.txt
results/largedatset_NN.txt
results/mufc_epsilon_0.1.txt
results/mufc_epsilon_1000.txt
results/nnfc_epsilon_0.1.txt
results/optimized_results.txt
results/plot.ipynb
results/seed_results_FC_0.01.txt
results/seed_results_FC_0.05.txt
results/seed_results_FC_0.5.txt
results/seed_results_FC_waveform_0.01.txt
results/seed_results_FC_waveform_0.1.txt
results/seed_results_FC_waveform_0.05.txt
results/seed_results_FC.txt
results/seed_results_ours_0.01.txt
results/seed_results_ours_0.05.txt
results/seed_results_ours_0.5.txt
results/seed_results_ours.txt
results/seed_results_ourswave_0.01.txt
results/seed_results_ourswave_0.1.txt
results/seed_results_ourswave_0.05.txt
results/seed_results.txt
results/test_NN.txt
results/test1_results.txt
results/total_time.txt
